%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 8px;

  &:hover {
    transform: scale(0.98);
  }
}

.success {
  @extend %btn;
  background-color: green;
}

.danger {
  @extend %btn;
  background-color: red;
}
