$dark-color-font: rgb(78, 132, 248);
$light-color-font: rgb(250, 240, 169);
$background-image-light: linear-gradient(90deg, #ffffff 0%, #90ee90 50%, #00008b 100%);
$background-image-dark: linear-gradient(45deg, #085078 10%, #85d8ce 90%);
$font-family: "Ubuntu", Helvetica, sans-serif, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
