@import "display";
@import "buttons";
@import "toggleButton";
@import "loader";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: $font-family;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;

  .light {
    background-image: $background-image-light;
    color: $dark-color-font;
  }

  .dark {
    background-image: $background-image-dark;
    color: $light-color-font;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 64px;
    padding: 24px;
  }

  h2 {
    font-size: 36px;
    padding: 24px;
  }
}

.coin {
  img {
    margin: 28px auto;
    width: 10em;
    height: 10em;
  }
}
